@{
  Layout = "Views/Shared/_Layout.cshtml";
}

<h1>Contact Created!</h1>

<h3>New Contact</h3>
<h4>Name: @Model.GetName()</h4>
<h4>Phone Number: @Model.GetNumber()</h4>
<h4>Address (Line 1): @Model.GetAddress1()</h4>
<h4>Address (Line 2): @Model.GetAddress2()</h4>
<h4>City: @Model.GetCity()</h4>
<h4>State: @Model.GetState()</h4>
<h4>Zip Code: @Model.GetZip()</h4>

<a href="/contact_view_all"><button type="button" class="btn btn-app">View All Contacts</button></a>
