@{
  Layout = "Views/Shared/_Layout.cshtml";
}

<h1>Contact Created!</h1>

<h3>New Contact</h3>
<h4><span class="contact-listing-label">Name:</span> @Model.GetName()</h4>
<h4><span class="contact-listing-label">Number:</span> @Model.GetNumber()</h4>
<h4><span class="contact-listing-label">Address (Line 1):</span> @Model.GetAddress1()</h4>
<h4><span class="contact-listing-label">Address (Line 2):</span> @Model.GetAddress2()</h4>
<h4><span class="contact-listing-label">City:</span> @Model.GetCity()</h4>
<h4><span class="contact-listing-label">State:</span> @Model.GetState()</h4>
<h4><span class="contact-listing-label">Zip Code:</span> @Model.GetZip()</h4>

<a href="/contact_view_all"><button type="button" class="btn btn-app">View All Contacts</button></a>
